<style>
    .card {
      height: 100%;
      position: relative;
    }
  
    .card-title {
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .card-text {
      height: 100px;
      overflow: hidden;
      margin-bottom: 20px;
    }
  
    .btn-read-more {
      background-color: black;
      color: white;
      border: none;
      border-radius: 20px;
      font-size: 12px;
      padding: 5px 10px;
      position: absolute;
      bottom: 10px;
      left: 10px;
      transition: 0.1s;
    }
  
    .btn-read-more:hover {
      background-color: #797979;
    }
  
    .card-img-top {
      height: 200px;
      object-fit: cover;
    }
  
    /* Additional styles for button alignment and responsiveness */
    .card-columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .card-columns .col-md-4 {
      flex-basis: 32%;
      margin-bottom: 20px;
    }
  
    @media (max-width: 768px) {
      .card-columns .col-md-4 {
        flex-basis: 100%;
      }
    }
  </style>
  
  <div class="container mt-4">
    <h1>Search Results</h1>
    <% if (results.length === 0) { %>
      <p>No results found.</p>
    <% } else { %>
      <div class="card-columns">
        <% results.forEach(function(article) { %>
          <div class="col-md-4">
            <div class="card">
            <a href="articles/<%= article._id %>" style="text-decoration: none;"><img src="/uploads/<%= article.image %>" class="card-img-top" alt="Article Image"></a>
              <a href="articles/<%= article._id %>" style="text-decoration: none;"><div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <p class="card-text"><%= article.content.substring(0, 100) %>...</p>
                <div class="d-flex justify-content-start">
                  <a href="articles/<%= article._id %>" class="btn btn-read-more btn-sm">Read More</a>
                </div>
              </div></a>
            </div>
          </div>
        <% }); %>
      </div>
    <% } %>
  </div>
  